<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand">Online products</a>
		</div>
	</div>
</div>


<div class='container'>
	<%= link_to "Click here to see products list", products_path, :class =>"btn btn-large" %>
</div>