<%- model_class = Product -%>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand">Online products</a>
		</div>
	</div>
</div>

	<fieldset>
		<legend>Add a new product</legend>

		<form class="well">
			<%= render :partial => 'form' %>
		</form>
	</fieldset>
</div>