<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand">Online products</a>
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='span11'>		
			<fieldset>
				<legend>Add a product</legend>
			</fieldset>
		</div>
	</div>

	<div class='row offset3'>
		<div class='span4 well pagination-centered'>	
			<%= render 'form' %>
		</div>
	</div>		
</div>
